doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    base(href='/', target='_blank')

    block title
    title My Site - #{pageTitle}
    block styles
        link(href="/public/main.css", rel="stylesheet")

  body
    block content

block title
  -var pageTitle = "Carousel Swipe"

block content
  .p-carousel
      .head
          h1 Carousel Swipe

      video#videoStream.old-tracker-canvas.hidden
      canvas#trackerCanvas.old-tracker-canvas

      button#stopButton.fixed-top-left(type="button") Toggle Carousel Video Detector!

      #scrolling
        ul#scrollContent
          li one
          li 222
          li THREe
          li four
          li 555
          li SIX
          li seven
          li 888
          li NINE
          li ten
          li 11-11-11
          li TWELVE
          li thirteen
          li 14-14-14
          li FIFTEEN
          li sixteen
          li 17-17-17
          li EIGHTEEN
          li nineteen
          li 20-20-20
      
  script(src='/public/carousel/carousel_swipe.js')