doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    base(href='/', target='_blank')
    title Carousel Swipe
    link(href="/public/main.css", rel="stylesheet")

  body.p-carousel
    h1 Carousel Swipe
    p
        a#link(href="#") Start Sarousel Swiping

    video#videoStream.tracker-canvas
    canvas#trackerCanvas.tracker-canvas

    button#stopButton.fixed-top-left(type="button") Stop Video!

    #scrolling
        ul
            li Swipe
            li Scroll
            li Pigs
            li with wings
    
    script(src='/public/thirdparty/compatibility.js')
    script(src='/public/thirdparty/js-objectdetect/objectdetect.js')
    script(src='/public/thirdparty/js-objectdetect/objectdetect.handfist.js')
    script(src='/public/thirdparty/js-objectdetect/objectdetect.handopen.js')
    script(src='/public/thirdparty/jquery.js')
    script(src='/public/thirdparty/itemslide/itemslide.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js")
    script(src='/public/carousel/carousel_swipe.js')
