$root-font-size = 14
$root-font-px = unit($root-font-size, 'px')

$button-font-size = 15

$default-btn-padding = 10
$default-padding = 15
$reduced-padding = 10

$input-padding = 12

/************************/
/*****  !DEFAULTS   *****/
/************************/
$default-max-width = $max-width

$cta-color = $orange
$cta-color-2 = $cyan
