/************************/
/*****    !COLORS   *****/
/************************/ 
$white = #fff
$black = #000
$basically-black = #36352D

$blue-fade = #567f99 // For disabled + placeholder text
$light-red = #E14F50
$red = #e61d36
$green-light = #B5CFB1
$green = #5C9B51
$yellow-light = #fff9c4
$yellow = #f7bc3a

$very-light-gray = #F9FAFA
$light-gray = #DEE3E3
$mid-gray = #D3D3D3
$dark-gray = #333

$color-cta = $green
$color-cta-alt = $green-light

/************************/
/***** !SOCIAL MEDIA ****/
/************************/
$fb-blue = #3B5999
$fb-blue-hover = lighten($fb-blue, 20%)
$google-red = #dd4b39
$google-red-hover = lighten($google-red, 10%)
$twitter-blue = #33CCFF
$twitter-blue-hover = lighten($twitter-blue, 20%)

$fb-blue-dark = #4D68A1
$google-red-dark = #DD4D3B
$twitter-blue-dark = #5EA9DD

$root-font-size = 16
$root-font-px = unit($root-font-size, 'px')

/************************/
/*****    !FONTS    *****/
/************************/
$font-regular       = 'Helvetica Neue', Helvetica, sans-serif
$font-alternate     = 'Helvetica Neue Bold', 'Helvetica Neue', Helvetica, sans-serif
$font-italic-val 	= $font-regular

$default-btn-padding = 10
$default-padding = 15
$input-padding = 12


/************************/
/***** !EXTENSIONS  *****/
/************************/
_full-size
    width 100%
    min-height 100%

_full-fit
    width 100%
    height 100%

_overlay
    background rgba(0, 0, 0, .8)
    color $white
    padding .2em

_clearfix
    clearfix()