.p-color-drawer

    .canvas-container
        font-size $root-font-px
        text-align center

    /*canvas*/.drawing-board
        display inline-block
        border 1px solid $black
        width em(1000)
        height em(500)

    .label-elem
        margin-top em(25)
        display block
        text-align center
        font em(18) \/ 2em $font-regular